<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>
      Email
      <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Password
      <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
    </ion-label>
  </ion-item>
    <ion-row>
      <ion-col>
    <ion-button (click)="onRegister()" [routerLink]="['/login']" expand="block" color="secondary">Registrarse</ion-button>
      </ion-col>
    </ion-row>
</ion-content>
