<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Clima en el hotel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center; align-items: center; margin-top: auto;">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center" style="margin-top: 20%;">
          <ion-item *ngIf="data" lines="none">
            {{ "Temperatura" }}
            <div
              class="pie"
              [ngStyle]="{'--p': data1}"
              style="--p: 50; --b: 10px; --c: blue"
            >
              {{ data.temperatura }}°c
            </div>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-item *ngIf="data" lines="none">
            <div
              class="pie"
              [ngStyle]="{'--p': data3}"
              style="--p: 50; --b: 10px; --c: aqua"
            >
              {{ data.humedad }}%
            </div>
            {{ "Humedad"}}
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
<br>
<!-- <p style="font-size: large; color: rgb(0, 0, 0); font-family:Verdana, Geneva, Tahoma, sans-serif;">Estado de la bombilla </p>
 -->
 <div *ngIf="toggleValue; else toggleFalseMessage">
   La bombilla esta encendida
 </div>

 <ng-template #toggleFalseMessage>
   <div>
    La bombilla esta apagada
   </div>
 </ng-template>
 <ion-toggle (click)="handleToggleClick()" [checked]="toggleValue" style="justify-content: center; margin: 40px;"></ion-toggle>

</ion-content>
