<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Temperatura</ion-title>
  </ion-toolbar>
</ion-header>

 <!-- Firebase -->
 <ion-content [fullscreen]="true" style="--border-width: 0px;">
  <p style="text-align: center;">Temperatura</p>
  <ion-list>
    <ion-item *ngIf="data">
      {{ "Nombre" }}: {{ data.nombre }}<br>
      {{ "Temperatura" }}: {{ data.temperatura }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-content>
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>

    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/principal']" tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="heart">
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/perfil']" tab="person">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>
