<ion-header>
  <ion-toolbar style="text-align: center;">
    <h2>Hotel de insectos</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 25%;">
    <img [routerLink]="['/movimiento']" src="../../assets/icon/movimiento.png"/>
    <!-- <ion-button [routerLink]="['/movimiento']" class="botonl" expand="block" color="tertiary" style="margin-top: 10px
    ;">Movimiento</ion-button> -->
    <ion-card-content style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: white;">
      <h2>Monitoreo del movimiento.</h2>
    </ion-card-content>
  </ion-card>
    <ion-card style="margin-top: 15%;">
    <img [routerLink]="['/temperatura']" src="../../assets/icon/temperatura.png" />
    <!-- <ion-button [routerLink]="['/temperatura']" class="botonl" expand="block" color="tertiary" style="margin-top: 10px
    ;">Temperatura</ion-button> -->
    <ion-card-content style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: white;">
    <h2>Monitoreo de la temperatura y humedad.</h2>
    </ion-card-content>
  </ion-card>
</ion-content>

