<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--border-width: 0px; align-items: center; text-align: center;">
<ion-card *ngIf="data" color="tertiary" style=" margin: 25px;">
  <ion-card-header>
    <ion-card-title>{{ "Movimiento" }}:</ion-card-title><br>
  {{ data.movimiento ? 'Hay movimiento, revisar el hotel.' : 'No hay movimiento en el hotel.' }}
</ion-card-header>
</ion-card>

  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>

    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/principal']" tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/perfil']" tab="person">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
