ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.movimiento-activo{
  background-color: #fd0b0b;
}
.movimiento-inactivo{
  background-color: rgb(37, 119, 241);
}
/* ion-content::part(background) {
  background: linear-gradient(to bottom,#386dbd,#009ddd,#05d3f8);
} */
