<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--border-width: 0px; align-items: center; text-align: center;">
<ion-card *ngIf="data" color="primary" style="margin: 25px; border-radius: 1rem; margin-top: 50%;" [ngClass]="{'movimiento-activo': movimiento, 'movimiento-inactivo': !movimiento}">
  <ion-card-header>
  <!--  <ion-card-title>{{ "Movimiento" }}:</ion-card-title><br> -->
  <ion-card-title>
  {{ data.movimiento ? 'Hay movimiento, revisar el hotel.' : 'No hay movimiento en el hotel.' }}
  </ion-card-title>
  </ion-card-header>
  <img [src]="movimiento ? '../../assets/icon/conmovimiento.png' : '../../assets/icon/sinmovimiento.png'" alt="Imagen de movimiento">
</ion-card>

